@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Begin CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* End CSS Reset */
body {
  font-family: "Roboto", sans-serif;
}

.small-avatar {
  font-size: 1.5rem;
  border: 1px solid black;
  padding: 7px;
  border-radius: 100%;
}

.large-avatar {
  font-size: 2.2rem;
  border: 1px solid black;
  border-radius: 100%;
  padding: 10px;
}

.secondary-text {
  color: rgb(131, 131, 131);
}

/*  Page Container */
.dashboard-container {
  display: grid;
  grid-template: 200px 5fr / 1fr 4fr;
}

/* Header */
.header {
  grid-area: 1 / 2 / 2 / 3;
  background: #eff6ff;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  box-shadow: 0 0 6px 6px rgb(179, 198, 244);
  margin-bottom: 5px;
}

.header p,
.header span {
  font-weight: bold;
}
/* Top Section of Header */
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

/* Left Section of Top Header Section */
.header-top-left {
  display: flex;
  width: 60%;
  margin-left: 20px;
}

button.search {
  background: transparent;
  border: none;
  margin-right: 20px;
  font-size: 1rem;
}

button.search:hover {
  cursor: pointer;
}

input[type="search"] {
  border-radius: 20px;
  height: 30px;
  width: 50%;
  background-color: #dbeafe;
  flex-grow: 1;
}

/* Right Section of Top Header Section */
.header-top-right {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

.header-top-right {
  font-size: 1.3rem;
}

/* Bottom Section of Header */
.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Bottom Left Section of Header */
.header-bottom-left {
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin-left: 20px;
}

.header-bottom-left-greeting {
  width: 80%;
}

/* Bottom Right Section of Header */
.header-bottom-right {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  margin-right: 20px;
}

.header-bottom p:last-of-type {
  font-size: 1.5rem;
  margin-top: 5px;
}

.header-bottom-right > button {
  width: 20%;
  padding: 15px 5px;
  border-radius: 25px;
  border: none;
  margin-right: 20px;
  background: #2563eb;
  color: #eff6ff;
}

.header-bottom-right > button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/* Sidebar */
.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background: #2563eb;
  display: grid;
  grid-template-rows: 10% 1fr 3fr;
  color: #eff6ff;
}

.sidebar-logo {
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: start;
  margin-left: 20px;
}

.fa-gauge-high {
  font-size: 2.5rem;
  margin-right: 10px;
}

.sidebar-links-top li,
.sidebar-links-bottom li {
  display: flex;
  margin: 20px 20px;
}

.sidebar-links-top span,
.sidebar-links-bottom span {
  margin-left: 10px;
}

.sidebar-links-top li:hover,
.sidebar-links-bottom li:hover,
.sidebar-links-top span:hover,
.sidebar-links-bottom span:hover {
  cursor: pointer;
}

/* Main Content Area */
.main-content {
  grid-area: 2 / 2 / 3 / 3;
  background: #bfdbfe;
}

.main-content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr 1fr 1fr;
  padding: 10px;
}

/* Content Container of Main Content */
.content-container {
  display: grid;
  grid-template: 50px repeat(3, 265px) / repeat(2, 1fr);
  padding: 20px;
  column-gap: 20px;
  grid-area: 1 / 1 / 5 / 3;
}

.content-container p:first-of-type {
  font-size: 1.3rem;

  font-weight: bold;
  grid-area: 1 / 1 / 2 / 3;
}

.card {
  font-size: 0.8rem;
  background: #eff6ff;

  border-left: 5px solid #172554;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 25px;

  margin-bottom: 25px;
}

.card p:first-of-type {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 25px;
}

.card p:last-of-type {
  width: 80%;
  flex-grow: 1;
}

.card-links {
  display: flex;
  justify-content: end;
  font-size: 1rem;
  color: rgb(159, 147, 79);
}

.fa-star,
.fa-eye {
  margin-right: 25px;
}

.fa-star:hover,
.fa-eye:hover,
.fa-code-fork:hover {
  cursor: pointer;
  transform: scale(1.5);
}

/* Content Container 2 of Main Content */
.content-container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 3fr 50px 2fr;
  grid-area: 1 / 3 / 4 / 4;
  padding: 20px;
}

.content-container2 p:first-of-type {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 1.3rem;
  font-weight: bold;
}

/* Announcement Area of Container 2 of Main Content */
.announcements {
  width: 75%;
  padding: 5px;

  background: #eff6ff;
  text-align: left;
  border-radius: 10px;
  grid-area: 2 / 1 / 3 / 2;
  display: grid;
}

.announcement {
  padding: 10px;
}

.announcement:nth-of-type(1),
.announcement:nth-of-type(2) {
  border-bottom: 1px solid rgb(179, 198, 244);
}

.announcement p:first-of-type {
  font-weight: bold;
  margin-bottom: 10px;
}

.announcement p:last-of-type {
  font-size: 0.8rem;
}

/* Trending Area of Content Container 2 of Main Content */
#trending {
  grid-area: 3 / 1 / 4 / 2;
  font-size: 1.3rem;
  font-weight: bold;
  align-self: end;
}

.trending {
  grid-area: 4 / 1 / 5 / 2;
  background: #eff6ff;
  width: 75%;
  margin-top: 25px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.trending-info {
  display: flex;

  margin: 10px;
}

.trending-info-users {
  margin-left: 25px;
}

.trending-info p:first-of-type {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 5px;
}
