@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

/* Begin CSS Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* End CSS Reset */
body {
  font-family: "Roboto", sans-serif;
}

.dashboard-container {
  display: grid;
  grid-template: 200px 5fr / 1fr 4fr;
}

.header {
  grid-area: 1 / 2 / 2 / 3;
  background: #eff6ff;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.header p,
.header span {
  font-weight: bold;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 10px;
}

div.header-top > img,
div.header-top > span {
  margin-right: 35px;
}

div.header-top > span {
  font-size: 1.2rem;
}

button.search {
  background: transparent;
  border: none;
  margin-left: 30px;
}

button.search:hover {
  cursor: pointer;
}
.search img {
  height: 25px;
  width: 25px;
}

#bell {
  margin-left: auto;
}

img.avatar-small {
  height: 50px;
  width: 50px;
  border: 1px solid black;
  border-radius: 100%;
  background-color: white;
}

input[type="search"] {
  border-radius: 20px;
  height: 25px;
  width: 50%;
  margin-left: 10px;
}

.header-top > input + img {
  height: 20px;
  width: 20px;
}

.header-bottom {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-self: center;
  padding: 10px;
  margin-bottom: 10px;
}

.header-bottom p:first-of-type {
}

.header-bottom p:last-of-type {
  font-size: 1.5rem;
  margin-top: 5px;
}

.header-bottom button:first-of-type {
  margin-left: auto;
}

.header-bottom button {
  width: 10%;
  padding: 10px 5px;
  border-radius: 25px;
  border: none;
  margin-right: 20px;
  background: #2563eb;
  color: #eff6ff;
}

img.avatar-large {
  height: 70px;
  width: 70px;
  border: 1px solid black;
  border-radius: 100%;
  background-color: white;
  margin: 0 20px 0 30px;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background: #2563eb;
  display: grid;
  grid-template-rows: 10% 1fr 2fr;
  color: #eff6ff;
}

.sidebar-logo {
  display: flex;
  font-size: 1.2rem;
  align-items: center;
  margin: 5px 5px;
}

.sidebar-logo img {
  height: 50px;
  width: 50px;
}

.sidebar-links-top li,
.sidebar-links-bottom li {
  display: flex;
  margin: 20px 20px;
}

.sidebar-links-top img,
.sidebar-links-bottom img {
  height: 20px;
  width: 20px;
}

.sidebar-links-top span,
.sidebar-links-bottom span {
  margin-left: 10px;
}

.main-content {
  grid-area: 2 / 2 / 3 / 3;
  background: #bfdbfe;
}

.main-content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr 1fr 1fr;
  padding: 10px;
}

.content-container {
  display: grid;
  grid-template: 50px repeat(3, 265px) / repeat(2, 1fr);
  padding: 20px;
  column-gap: 20px;
  grid-area: 1 / 1 / 5 / 3;
}

.content-container p:first-of-type {
  font-size: 1.3rem;

  font-weight: bold;
  grid-area: 1 / 1 / 2 / 3;
}

.card {
  font-size: 0.8rem;
  background: #eff6ff;

  border-left: 5px solid yellow;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-around;
  margin-bottom: 25px;
}

.card p:first-of-type {
  font-size: 1.1rem;
  font-weight: bold;
}

.card img {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}

.card-links {
  display: flex;
  justify-content: flex-end;
}

.content-container2 {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px 1fr;
  grid-area: 1 / 3 / 4 / 4;
  padding: 20px;
}

.content-container2 p:first-of-type {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 1.3rem;
  font-weight: bold;
}

.announcements {
  width: 75%;
  padding: 5px;
  text-align: center;

  background: #eff6ff;
  text-align: left;
  border-radius: 10px;
  grid-area: 2 / 1 / 3 / 2;
}

.announcement {
  padding: 10px 20px;
  margin-top: 10px;
}

.announcement p:first-of-type {
  font-weight: bold;
}

.announcement p:last-of-type {
  font-size: 0.8rem;
}

#trending {
  grid-area: 3 / 1 / 4 / 2;
  font-size: 1.3rem;
  font-weight: bold;
  align-self: end;
}

.trending {
  grid-area: 4 / 1 / 5 / 2;
  background: #eff6ff;
  width: 75%;
  margin-top: 25px;
  padding: 10px 10px;
  border-radius: 10px;
}

.trending-info {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.trending-info p:first-of-type {
  font-weight: bold;
}
